{% extends "layouts/base.html" %}

{% block title %}Erreur 404{{ block.super }}{% endblock %}

{% block content %}
<section class="pt-4 pb-6">
    <div class="container">
        <h1 class="h1-hero">Erreur</h1>
        <p class="lead">Oups ... <br>
            Un problème est survenu lors de la publication de votre besoin d'achat. <br>
            Pour finaliser la publication de votre besoin, contactez Sofiane Zekri, notre référent commercial Achat inclusif : <a href="mailto:sofiane.zekri@beta.gouv.fr">sofiane.zekri@beta.gouv.fr</a> </p>
    </div>
</section>
{% endblock %}
